body {
  background-color: #eeeeee;
  color: #222222;
  line-height: 1.5;
  font-family: chilanka;
  word-spacing: 2pt;
  padding-left: 5%;
  padding-right: 5%;
}
hr {
  border-style: dotted;
  color: #19d3da;
  margin: 2rem auto;
  border-width: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  border-bottom: 4px solid olivedrab;
  border-left: 2px solid olivedrab;
  border-right: 2px solid olivedrab;
  border-radius: 20px;
  align-self: center;
  color: black;
}
.task4 {
  text-align: center;
}
.task6 {
  text-align: center;
}
p {
  font-size: 1.2rem;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  color: #19d3da;
  font-family: Montserrat;
  text-align: left;
}

.task6 table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  align-items: center;
}
.task6 th,td {
  padding: 1.3rem;
  text-align: center;    
}

.task7 img {
  width: 100%;
  border-radius: 8px;
}
.task7 td {
  height: 40%;
  margin: 12px 12px 12px 12px;
  border-radius: 8px;
  width: 40%;
  text-align: left;
}
.task7 table {
  border-spacing: 15px;
}
.task7 li {
  font-size: 14px;
}
